<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kolnikApp_klijent.Properties.Settings._16001_DBConnectionString"
            connectionString="Data Source=31.147.204.119;Initial Catalog=16001_DB;Persist Security Info=True;User ID=16001_User;Password=eY4PSzGY"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>